//import of the less file corresponding to the layout
@import "mainstyle.less";

@secondary-div-width: 1100px;

/* TODO: testing percentage width 
on secondary divs, to incorporate in mainstyle if needed */
.secondary-div{
	.row {
		.div-centered();
	}
}
.secondary-div-title.with-subtitle {
    padding: 60px 5px 25px 5px;
}
.secondary-div-title {
    padding: 60px 5px;
    color: #7d7873;
}
.secondary-div-title {
    text-align: center;
    color: #0e3c56;
    position: static;
    height: auto;
    line-height: initial;
}

.secondary-div-title.with-subtitle h2 {
    margin-bottom: 12px;
}
.secondary-div-title h2 {
    margin: 0;
    font-size: 28px;
    line-height: 26px;
    font-weight: 700;
}

.secondary-div-title.with-subtitle .sub-title {
    font-size: 14px;
    font-weight: 700;
}
p {
    margin: 0 0 10px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.vignette-sport .vignette-label .vignette-label-line {
    position: absolute;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.vignette-sport .vignette-label .vignette-label-line {
    position: absolute;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
Inherited from a
a {
    color: #428bca;
    text-decoration: none;
}
#sports-zone #sports-text-list .custom-col a:hover {
    background: #ffc666;
    color: white;
}
#sports-zone #sports-text-list .custom-col a {
    display: block;
    padding: 10px 4px;
    color: #7d7873;
}
.vignettes-zone .custom-col > a {
    width: 100%;
}
a.no-decoration:hover, a.no-decoration:focus {
    text-decoration: none;
}
a.no-decoration {
    color: inherit;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

#sports-zone #sports-text-list {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}




div {
    display: block;
}
/*** Selection zone ***/
.sub-secondary-div {
	.div-centered();
	
	.custom-col {
		margin-top: 6px;
		margin-bottom: 6px;
	}
}
#baseline-zone h1 .sub-title {
    font-size: 2.5vw;
}
#baseline-zone h1 .sub-title {
    font-size: 18px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#search-bar-zone #search-bar .custom-form-field.first-elem input, #search-bar-zone #search-bar .custom-form-field.first-elem select {
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
}


#search-bar-zone #search-bar .custom-form-field input, #search-bar-zone #search-bar .custom-form-field select {
    border: none;
    border-bottom: solid 1px #cfcfcf;
    margin: 0;
}
#search-bar-zone #search-bar .custom-form-field input, #search-bar-zone #search-bar .custom-form-field select {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    background: white;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.custom-form-field.with-icon input, .custom-form-field.with-icon select {
    padding-right: 28px;
}
.custom-form-field input[type=text], .custom-form-field input[type=email], .custom-form-field input[type=password] {
    border: solid 1px #cfcfcf;
    background: #f0f0f0;
    height: auto;
    line-height: normal;
    padding: 8px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.custom-form-field.stretch-width input, .custom-form-field.stretch-width select {
    width: 100%;
}
.custom-form-field input[type=text], .custom-form-field input[type=email], .custom-form-field input[type=password], .custom-form-field textarea {
    border: none;
    background: #f0f0f0;
    height: 32px;
    line-height: 32px;
    padding-left: 4px;
    padding-right: 4px;
}

.custom-form-field input, .custom-form-field select, .custom-form-field .ms-parent {
    margin-bottom: 5px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}



#search-bar-zone #search-bar .custom-button.last-elem {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#search-bar-zone #search-bar .custom-button.last-elem {
    -moz-border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

#search-bar-zone #search-bar .custom-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
}
#search-bar-zone #search-bar .custom-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.custom-button.solid-yellow:hover, .custom-button.solid-yellow:focus, .custom-button.solid-yellow:active {
    background: white;
    border: solid 1px #cfcfcf;
    color: #ffae3b;
}
.custom-button.solid-yellow {
    background: #ffae3b;
    border: solid 1px #cfcfcf;
    border-color: #ffae3b;
    color: white;
}
.custom-button:hover, .custom-button:focus, .custom-button:active {
    outline: none;
}
.custom-button.stretch-width {
    width: 100%;
}
.btn:hover, .btn:focus {
    background: linear-gradient(45deg, #0a2d40 50%, #133549 50%);
    background: -webkit-linear-gradient(45deg, #0a2d40 50%, #133549 50%);
    color: white;
    text-decoration: none;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}

.custom-button {
    margin-bottom: 5px;
}
.custom-button {
    padding: 8px 10px;
    font-weight: 700;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    -moz-box-shadow: 0px 0px 0px 0px rgba(228, 228, 228, 0.5);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(228, 228, 228, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(228, 228, 228, 0.5);
    white-space: normal;
}
.btn {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #0e3c56 50%, #18445d 50%);
    background: -webkit-linear-gradient(45deg, #0e3c56 50%, #18445d 50%);
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: transparent;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}



user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}

#home-top-slider{
	position: relative;
}
#principal {
	padding-top: 0px;
}
#baseline-zone h1 {
    font-size: 32px;
}
#baseline-zone h1 {
    font-weight: 700;
    font-size: 50px;
}
#baseline-zone {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
h1, H2, h3, h4 {
    margin: 0px;
}
h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#top-reinsurance-zone {
	padding-bottom: 60px;

	.reinsurance-vignette {
		
		text-align: center;
		
		&.yellow {
			background: @pastel-yellow;
			
			.reinsurance-title {
				color: white;
			}
		}
		
		&.grey {
			background: @most-lighter-grey;
			
			.reinsurance-title {
				color: @yellow;
			}
		}
		
		.reinsurance-title {
			font-size: 24px;
			font-weight: 700;
			padding: 30px 10px 10px 10px;
		}
		
		.reinsurance-content {
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: @darkerer-grey;
			padding: 5px 20px 15px 20px;
		}
		
		.picto {
			margin-bottom: 15px;
			/* width: 35px;
			height: auto; */
		}
	}
}
