//import of the less file corresponding to the layout
@import "mainstyle.less";

@secondary-div-width: 1100px;


/* TODO: testing percentage width 
on secondary divs, to incorporate in mainstyle if needed */


#home-top-slider {
	position: relative;
}

#home-top-slider #main-slider {
	position: relative;
	/*.foo{@media (max-width: 1200px)	{z-index: -10;}}*/
}		
@media (max-width: 1200px)	{
	#home-top-slider #main-slider .video-slider{
		z-index: -10;
	}
}

#home-top-slider #main-slider.video-slider {
	
	.video-zone{
		overflow: hidden;
		max-height: 450px; 
		
		.hidden-xs {
			display: none !important;
		}
		
		video {
			width: 100%;
			margin-top: -130px;
		}		
	}
}

#home-top-slider #main-slider .photo-container {
	max-height: 383px;
	
	img {
		width: 100%;
		height: auto;
	}
}

.photo-container {
    position: relative;
    display: inline-block;
}	

#baseline-zone {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}	

@media (max-width: 768px){
	#baseline-zone h1 {
		font-size: 32px;
	}
}

#baseline-zone h1 {
    font-weight: 700;
    font-size: 50px;
}

@media (max-width: 768px){
	#baseline-zone h1 .title {
		font-size: 32px;
	}	
}

#baseline-zone h1 .title {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

@media (max-width: 768px){
	#baseline-zone h1 .sub-title {
		font-size: 2.5vw;
	}
}

#baseline-zone h1 .sub-title{
		font-size: 3vw;
}	

@media (max-width: 768px){
	#search-bar-zone {
		position: static;
		background: none;
		padding: 0;
	}
}

#search-bar-zone {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}

.secondary-div{
    padding: 0;
    margin-bottom: 0px;
    max-width: 1100px;

	.row {
		.div-centered();
	}
}

#search-bar-zone #search-bar.secondary-div .custom-col {
    padding: 0;
}

.secondary-div .custom-col {
    max-width: none;
}

#search-bar-zone #search-bar .custom-form-field select {
    color: #474747;
    text-transform: capitalize;
}

@media (max-width: 768px){
	#search-bar-zone #search-bar .custom-form-field {
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
}

.custom-form-field.with-icon {
    position: relative;
    display: inline;
}

#search-bar-zone #search-bar .custom-form-field.first-elem input, #search-bar-zone #search-bar .custom-form-field.first-elem select {
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
}

@media (max-width: 768px){
	#search-bar-zone #search-bar .custom-form-field input, #search-bar-zone #search-bar .custom-form-field select {
		border: none;
		border-bottom: solid 1px #cfcfcf;
		margin: 0;
	}
}

#search-bar-zone #search-bar .custom-form-field input, #search-bar-zone #search-bar .custom-form-field select {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    background: white;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-form-field.with-icon input, .custom-form-field.with-icon select {
    padding-right: 28px;
}

.custom-form-field input[type=text], .custom-form-field input[type=email], .custom-form-field input[type=password] {
    border: solid 1px #cfcfcf;
    background: #f0f0f0;
    height: auto;
    line-height: normal;
    padding: 8px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.custom-form-field.stretch-width input, .custom-form-field.stretch-width select {
    width: 100%;
}

.custom-form-field.with-icon .glyphicon, .custom-form-field.with-icon .fa {
    position: absolute;
    right: 12px;
    font-size: 14px;
    color: #474747;
    pointer-events: none;
    cursor: pointer;
}
.custom-form-field .glyphicon {
    line-height: normal;
}
.custom-form-field .glyphicon {
    line-height: 32px;
}

@media (max-width: 768px){
	.custom-form-field input, .custom-form-field select, .custom-form-field .ms-parent {
		margin-bottom: 5px;
	}
}

@media (max-width: 768px){
	#search-bar-zone #search-bar .custom-button.last-elem {
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
}

#search-bar-zone #search-bar .custom-button.last-elem {
    -moz-border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

@media (max-width: 768px){
	#search-bar-zone #search-bar .custom-button {
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		margin: 0;
	}
}

#search-bar-zone #search-bar .custom-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-button.solid-yellow {
    background: #ffae3b;
    border: solid 1px #cfcfcf;
    border-color: #ffae3b;
    color: white;
}

.custom-button.stretch-width {
    width: 100%;
}

@media (max-width: 768px){
	.custom-button {
		margin-bottom: 5px;
	}
}

.custom-button {
    padding: 8px 10px;
    font-weight: 700;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    -moz-box-shadow: 0px 0px 0px 0px rgba(228, 228, 228, 0.5);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(228, 228, 228, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(228, 228, 228, 0.5);
    white-space: normal;
}

#search-bar-zone #search-bar .search-bar-form-error {
    position: relative;
}

/*** Selection zone ***/
.sub-secondary-div {
	.div-centered();
	
	.custom-col {
		margin-top: 6px;
		margin-bottom: 6px;
	}
}

#principal {
	padding-top: 0px;
}


#top-reinsurance-zone {
	padding-bottom: 60px;

	.reinsurance-vignette {
		
		text-align: center;
		
		&.yellow {
			background: @pastel-yellow;
			
			.reinsurance-title {
				color: white;
			}
		}
		
		&.grey {
			background: @most-lighter-grey;
			
			.reinsurance-title {
				color: @yellow;
			}
		}
		
		.reinsurance-title {
			font-size: 24px;
			font-weight: 700;
			padding: 30px 10px 10px 10px;
		}
		
		.reinsurance-content {
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: @darkerer-grey;
			padding: 5px 20px 15px 20px;
		}
		
		.picto {
			margin-bottom: 15px;
			/* width: 35px;
			height: auto; */
		}
	}
}
